*
{
  margin:0;
  padding:0;
  overflow:hidden;
  background:#000;

  user-select:none;
  touch-action:none; /* disable panning/zooming gestures */
}

#wrapper
{
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
}

canvas
{
  position:absolute;

  image-rendering:pixelated;
}
